<div id="buttons" class="clearfix">
    {{ buttons(template.cp.buttons) }}
    <div id="small-menu-button">
        <a href="javascript:;" class="show-menu">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
