<header id="header">

    <div class="description">
        {{ trans(template.cp.sections.active.description ?: template.addons.modules.active().description) }}
    </div>

    {% include "theme::partials/buttons" %}

</header>
