#buttons {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    padding: 0;
    list-style: none;
    display: inline-block;

    #small-menu-button {
        display: none;
    }

    .btn {
        display: inline-block;

        &:not(:first-of-type) {
            margin-left: 1em;
        }
    }
}

@include media-breakpoint-down(sm) {
    #buttons {
        float: none;
        display: block;
        margin: 1em 1em 0;
        width: calc(100% - 2em);
        right: 0;

        #small-menu-button {
            display: inline-block;
            text-align: center;
            float: right;

            a.show-menu {
                color: $gray-light;
                display: inline-block;
                width: 1.74rem;
                border: 1px solid transparent;
                padding: 0.375rem 0;
                font-size: 1rem;
                line-height: 1.5;
            }
        }

        .btn {
            display: inline-block;
            width: calc(100% - 2em);
            margin-bottom: 1px;

            &:not(:first-of-type) {
                margin-left: 0;
            }
        }
    }
}
