#header {
    height: 8em;
    background: $gray-dark;

    .description {
        margin-top: 0.75em;
        margin-left: 2.5em;
        color: $gray-light;
        display: inline-block;
    }
}

@include media-breakpoint-down(sm) {
    #header {
        height: auto;
        padding: 1em 0;
    }
}
