#sections-container {

    width: 12em;
    float: left;

    #sections {
        display: block;
        margin: 1em 0 0 1em;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;

                a {
                    font-size: 1.5em;
                    margin-right: 1em;
                    position: relative;
                    color: $gray-dark;
                    text-decoration: none;

                    i {
                        font-size: .5em;
                        color: $gray-lighter;
                    }
                }

                &.active {
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {

    #sections-container {
        width: 100%;
        height: inherit;
        max-height: 0;
        overflow: hidden;
        border-bottom: .1rem solid $gray-dark;
        background-color: $gray-light;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s, padding .8s, margin-bottom .8s;

        &.visible {
            padding: 1rem 0;
            margin-bottom: 1rem;

            max-height: 200px;
        }

        #sections {
            margin-top: 0;
            display: block;

            ul {
                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
